@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rss фидер</h1>
    <p>Для настройки перейдите во вкладку settings. 
    После того как настройки введены для просмотра Rss ленты перейдите во вкладку Rss. 
    Если в настройках оставить поле прокси сервера пустым, то он использоваться не будет.</p>
</div>
